@{
  Layout = "_Layout";
}

<h2>Add a new course</h2>

@model Registrar.Models.Course

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.CourseName)
  @Html.TextBoxFor(model => model.CourseName)
  <hr />
  @Html.LabelFor(model => model.CourseNum)
  @Html.TextBoxFor(model => model.CourseNum)
  <hr />
  @Html.Label("Department ")
  @Html.DropDownList("DepartmentId")<br><br>
  <hr />
  <input type="submit" value="Add Course" class="btn btn-default"/>
}

<p>@Html.ActionLink("Return Home", "Index", "Home")</p>
