@model Registrar.Models.Course

<h3>Course Name: @Model.CourseName</h3>
<h3>Course Number: @Model.CourseNum</h3>
<h3>Department: @Model.Department.DepartmentName</h3>


<p>@Html.ActionLink("Back to courses", "Index")</p>
<p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.CourseId})</p>
<p>@Html.ActionLink("Delete Course", "Delete",  new { id = Model.CourseId})</p>