@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h1>@Model.StudentName's Details</h1>

<ul>
  <li>Enrollment Date: @Model.EnrollmentDate</li>
  <li>Current Courses: 
    @if(@Model.Courses.Count == 0)
    {
      <p>This student has not signed up for any classes</p>
    }
    <ul>
    @foreach (var join in Model.Courses)
    {
      <li>@Html.ActionLink(join.Course.CourseName, "Details", "Course", new { id = join.Course.CourseId })</li>
    }
    </ul>
  </li>
  <li>Affiliated Departments: 
      <ul>
    @foreach (var join in Model.Departments)
    {
      <li>@Html.ActionLink(join.Department.DepartmentName, "Details", "Department", new { id = join.Department.DepartmentId })</li>
    }
    </ul>
  </li>
</ul>
<p>@Html.ActionLink("Add Course", "AddCourse", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete", "Delete", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>